<div class="container">
  <ng-container >
    <mat-form-field>
      <mat-label>
        Nombre
      </mat-label>
      <input matInput type="text" name="nombre" placeholder="nombre" [(ngModel)]="nombre">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="text" name="apellido" placeholder="apellido" [(ngModel)]="apellido">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="text" name="usuario" placeholder="usuario" [(ngModel)]="user">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="contraseña" [(ngModel)]="contrasena">
    </mat-form-field>

    <button mat-button color="primary" type="button" (click)="registrar()">Registrar</button>

  </ng-container>
</div>


<!-- {
  "nombre":"Daniel",
  "apellido":"Vicent",
  "user":"dani",
  "contrasena":"123"
} -->
